@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Mochiy+Pop+P+One&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif; 
  
  font-size: 14px;
}

h2, h3, h4, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card{
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.24);
  border-radius: 5px;
  
}

.top-section {
  grid-column: span 2;
  
  padding: 30px;
}
.top-section h3 {
    color: #2ab2af;
    margin-bottom: 15px;
  }

  
.top-section-text {
    color: #98a6bd;
  }
  
.days{
    color: #c0df34;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.2rem;
}

.bottom-left-section {
  color: #fff;
  padding: 30px;
  background-color: #2ab2af;
  
}

.bottom-right-section {
  color: #fff;
  padding: 30px;
  background-color: #49BEBD;
}
.button_div {
    margin-top: 30px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    height: 46px;
    background-color: hsl(71, 73%, 54%);
    border-radius: 7px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.159);
}

.button:hover {
  cursor: pointer;
  background-color: #C9EB36;
}
.price-number {
  font-weight: 700;
  font-size: 25px;
}

.bottom-left-section h4 {
  margin-bottom: 10px;
}

.bottom-left-section p {
  margin-bottom: 15px;
}

.price-month {
  display: inline-block;
  color:#e5eff5 ;
  position: relative;
  top: -3px;
  opacity: 0.6;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  color: #e5eff5;
  opacity: 0.6;
}

@media (max-width: 742px) {
        .card {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
