@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Mochiy+Pop+P+One&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif; 
  
  font-size: 14px;
}

h2, h3, h4, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
}
#card {
 
  box-shadow: 3px 1px 14px 0px rgba(0,0,0,0.24);
  border-radius: 5px;
  overflow: hidden;
  
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
}

#bottom-section {
  width: 100%;
  height: 55%;
  color: #fff;
  
  
}

#bottom-left-section {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #2ab2af;
  
}

#bottom-right-section {
  width: 100%;
  height: 100%;
  padding: 30px;
  
  background-color: #49BEBD;
}

#top-section h3 {
  color: #2ab2af;
  margin-bottom: 15px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 15px;
}

#top-section p {
  color: #98a6bd;
}
button {
  background-color: #c0df34;
  color: #fff;
  font-family: 'Karla', sans-serif;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 28%;
}

button:hover {
  cursor: pointer;
  background-color: #C9EB36;
}
#price-number {
  font-weight: 700;
  font-size: 25px;
}

#bottom-left-section h4 {
  margin-bottom: 10px;
}

#bottom-left-section p {
  margin-bottom: 15px;
}

#price-month {
  display: inline-block;
  color:#e5eff5 ;
  position: relative;
  top: -3px;
  opacity: 0.6;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  color: #e5eff5;
  opacity: 0.6;
}

@media (min-width: 576px) {
  #bottom-section {
    display: flex;
  }
  #card {
    width: 550px;
  height: 400px;
    color: orange;
  }
}
